.starry-night {
  background: url("../assets/starry-night/hero-small.jpg") no-repeat fixed center; }

.pearl-earring {
  background: url("../assets/girl-with-pearl-earring/hero-small.jpg") no-repeat fixed center; }

.guernica {
  background: url("../assets/guernica/hero-small.jpg") no-repeat fixed center; }

.magdalene {
  background: url("../assets/penitent-magdalene/hero-small.jpg") no-repeat fixed center; }

.galilee {
  background: url("../assets/the-storm-on-the-sea-of-galilee/hero-small.jpg") no-repeat fixed center; }

.kanagawa {
  background: url("../assets/the-great-wave-off-kanagawa/hero-small.jpg") no-repeat fixed center; }

.van-gogh-self {
  background: url("../assets/van-gogh-self-portrait/hero-small.jpg") no-repeat fixed center; }

.sleeping-gypsy {
  background: url("../assets/the-sleeping-gypsy/hero-small.jpg") no-repeat fixed center; }

.ermine {
  background: url("../assets/lady-with-an-ermine/hero-small.jpg") no-repeat fixed center; }

.night-cafe {
  background: url("../assets/the-night-cafe/hero-small.jpg") no-repeat fixed center; }

.basket-apples {
  background: url("../assets/the-basket-of-apples/hero-small.jpg") no-repeat fixed center; }

.red-vest {
  background: url("../assets/the-boy-in-the-red-vest/hero-small.jpg") no-repeat fixed center; }

.arnolfini {
  background: url("../assets/arnolfini-portrait/hero-small.jpg") no-repeat fixed center; }

.mona-lisa {
  background: url("../assets/mona-lisa/hero-small.jpg") no-repeat fixed center; }

.the-swing {
  background: url("../assets/the-swing/hero-small.jpg") no-repeat fixed center; }
