$dark-gray: #7D7D7D;
$med-gray: #E5E5E5;
$light-gray: #F3F3F3;

$head-1-s: 56px;
$head-1-line-height: 64px;

$head-2-size: 24px;
$head-2-line-height: 29px;

$head-2-s: 18px;
$head-2-line-height: 22px;

$display-s: 200px;
$display-line-height: 150px;

$subhead-1-s: 15px;
$subhead-1-line-height: 19px;

$subhead-2-s: 13px;
$subhead-2-line-height: 17px;

$link-1-s: 12px;
$link-1-line-height: 17px;
$link-1-ls: 2.5px;

$link-2-s: 9px;
$link-2-line-height: 11px;
$link-2-ls: 2px;