$dark-gray: #7D7D7D;
$med-gray: #E5E5E5;
$light-gray: #F3F3F3;

$head-1-s: 56px;
$head-1-line-height: 64px;

$head-2-size: 24px;
$head-2-line-height: 29px;

$head-2-s: 18px;
$head-2-line-height: 22px;

$display-s: 200px;
$display-line-height: 150px;

$subhead-1-s: 15px;
$subhead-1-line-height: 19px;

$subhead-2-s: 13px;
$subhead-2-line-height: 17px;

$link-1-s: 12px;
$link-1-line-height: 17px;
$link-1-ls: 2.5px;

$link-2-s: 9px;
$link-2-line-height: 11px;
$link-2-ls: 2px;


.starry-night {
    background: url("../assets/starry-night/hero-small.jpg") no-repeat center;
    
}

.pearl-earring {
    background: url("../assets/girl-with-pearl-earring/hero-small.jpg") no-repeat center;
    
}

.guernica {
    background: url("../assets/guernica/hero-small.jpg") no-repeat center;
    
}

.magdalene {
    background: url("../assets/penitent-magdalene/hero-small.jpg") no-repeat center;
    
}

.galilee {
    background: url("../assets/the-storm-on-the-sea-of-galilee/hero-small.jpg") no-repeat center;
    
}

.kanagawa {
    background: url("../assets/the-great-wave-off-kanagawa/hero-small.jpg") no-repeat center;
    
}

.van-gogh-self {
    background: url("../assets/van-gogh-self-portrait/hero-small.jpg") no-repeat center;
    
}

.sleeping-gypsy {
    background: url("../assets/the-sleeping-gypsy/hero-small.jpg") no-repeat center;
    
}

.ermine {
    background: url("../assets/lady-with-an-ermine/hero-small.jpg") no-repeat center;
    
}

.night-cafe {
    background: url("../assets/the-night-cafe/hero-small.jpg") no-repeat center;
    
}

.basket-apples {
    background: url("../assets/the-basket-of-apples/hero-small.jpg") no-repeat center;
    
}

.red-vest {
    background: url("../assets/the-boy-in-the-red-vest/hero-small.jpg") no-repeat center;
    
}

.arnolfini {
    background: url("../assets/arnolfini-portrait/hero-small.jpg") no-repeat center;
    
}

.mona-lisa {
    background: url("../assets/mona-lisa/hero-small.jpg") no-repeat center;
    
}

.the-swing {
    background: url("../assets/the-swing/hero-small.jpg") no-repeat center;
    
}
