@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import "./variables/variables.scss";
@import "./reset/reset.scss";

#root {
   
}

html, body {
    
    font-family: 'Libre Baskerville', serif;
}

a {
    text-decoration: none;
}

.disable {
    opacity: .3;
}

@import "./sizes/mobile.scss";
@import "./sizes/tablet.scss";