@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import "./variables/variables.scss";
@import "./reset/reset.scss";

#root {
   
}

html, body {
    
    font-family: 'Libre Baskerville', serif;
}


.app-container {
    height: 100%;

    .app-spacer {
        height: 80px;
    }
    .menu-container {
        height: 80px;
        border-bottom: 1px solid $med-gray;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        background: white;

        .menu-flex-container {
            display: flex;
            flex-flow: row;
            align-items: center;
            height: 100%;
            padding: 0em 1em;

            .menu-header {
                flex: 1;
    
                h1 {
                    font-size: 30px;
                    font-weight: 700;
                    text-align: left;
                }
            }
    
            .menu-start-slide-wrapper {
                flex: 1;
                justify-self: flex-end;
                
                p {
                    text-align: right;
                    font-size: $link-1-s;
                    line-height: link-1-line-height;
                    letter-spacing: link-1-ls;
                    color: $dark-gray;
                    font-weight: 600;
                }
            }
        }
        
        
    }

    .galleria-container {
        .box250{ height:250px; }
        .box260{ height:260px; }
        .box280{ height:280px; }
        .box285{ height:285px; }
        .box330{ height:330px; }
        .box340{ height:340px; }
        .box400{ height:400px; }
        .box420{ height:420px; }
        .box500{ height:500px; }
        .box525{ height:525px; }

        display: flex;
        flex-flow: column;
        gap: 25px;
        margin: 1.5em;

        .galleria-image-box {
            display: flex;
            flex-flow: column;
            justify-content: flex-end;

            //margin: 1.5em;

            .galleria-image-text {
                
                margin-left: 2em;
                margin-bottom: 2em;
                h1 {
                    color: white;
                    font-size: $head-2-size;
                    font-weight: 700;
                    margin-bottom: .5em;
                }

                h3 {
                    color: white;
                    opacity: .8;
                }

                
            }
        }
    }
}